<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/homestyles.css">
</head>
<body>
  <header>
    <h1>NMH Clubs Homepage</h1>
    <div class="welcomeMessage">
      <p>Search or scroll through all the NMH student-led clubs. Click on the club for more information!</p>
    </div>
  </header>

  <div class="center-section">
    <div class="left">
      <div class="image-section">
        <img src="/images/pig.png" alt="Club Groups" class="center-image">
      </div>
    </div>
    <div class="right">
      <div class="dropdown-section">
        <div class="menu">
          <% types.forEach(type => { %>
            <div class="dropdown">
              <div class="dropdown-container">
                <button class="dropbtn"><%= type %></button>
                <div class="dropdown-description">
                  <% if (type === 'Interest Club') { %>
                    These are clubs that enjoy a hobby together. The contact person for these groups is Elizabeth Edwards.
                  <% } else if (type === 'Service Club') { %>
                    These are groups that take action to give back to the community. The contact person is Kensey Bachelder.
                  <% } else if (type === 'Affinity Group') { %>
                    These groups share a personal identity. The contacts are Lee Ellen Strawn and James Greenwood.
                  <% } else if (type === 'Spiritual Life Group') { %>
                    These are groups where people can find community no matter your religion or beliefs.
                  <% } %>
                </div>
              </div>
              <div class="dropdown-content">
                <% clubsByType[type]
                    .sort((a, b) => a.club_name.localeCompare(b.club_name))
                    .forEach(club => { %>
                  <a href="/club/<%= club.id %>"><%= club.club_name %></a>
                <% }) %>
              </div>
            </div>
            
          <% }) %>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>The NMH Clubs Database is proudly brought to you by Hogger News.</p>
    <P>This is a student created web application in its beta stage. Please report any bugs or issues to hoggernews@nmhschool.org.</P>
    <p>Hogger News | NMH TV | news for students by students</p>
  </footer>
</body>
</html>
