<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles/homestyles.css">
</head>
<body>
  <header>
    <h1>NMH Clubs Homepage</h1>
    <div class="welcomeMessage">
      <p>The Hogger News brings to you the NMH Clubs Database!</p>
      <p>Here, you will find a list of all the NMH student-led clubs. They are sorted by type. Click on the club for more information!</p>
    </div>
  </header>

  <div class="center-section">
    <div class="left">
      <div class="image-section">
        <img src="/images/NMHlogo-removebg-preview.png" alt="Club Groups" class="center-image">
      </div>
    </div>
    <div class="right">
      <div class="dropdown-section">
        <div class="menu">
          <% types.forEach(type => { %>
            <div class="dropdown">
              <div class="dropdown-container">
                <button class="dropbtn"><%= type %></button>
                <div class="dropdown-description">
                  <% if (type === 'Student Interest') { %>
                    These are clubs that enjoy a hobby together. The contact person for these groups is Elizabeth Edwards.
                  <% } else if (type === 'Student Service') { %>
                    These are groups that take action to give back to the community. The contact person is Kensey Bachelder.
                  <% } else if (type === 'Affinity Group') { %>
                    These groups share a personal identity. The contacts are Lee Ellen Strawn and James Greenwood.
                  <% } %>
                </div>
              </div>
              <div class="dropdown-content">
                <% clubsByType[type].forEach(club => { %>
                  <a href="/club/<%= club.id %>"><%= club.club_name %></a>
                <% }) %>
              </div>
            </div>
            
          <% }) %>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>Hogger News | NMH TV | news for students by students</p>
  </footer>
</body>
</html>
