* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
  /* width: 118%; */
  /* height: 139%; */
  display: flex;
  flex-direction: column;

  transform-origin: top left;
  overflow-x: hidden;
}

header {
  padding-top: 20px;
  background-color: #002855;
  color: white;
  padding: 20px;
  text-align: center;
}

.welcomeMessage {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff; 
}

.center-section {
  display: flex;
  padding: 20px;
  height: 70vh;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left, .right {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 48%; 
  background-color: #ffffff;
  border: 4px solid #F1B434;
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  margin: 10px;
}

.left {
  padding: 0px 0px 0px 0px;
  width: 30%;
}
.right {
  width: 65%;
}

.image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
  padding-right: 35px;
}

.center-image {
  max-width: 80%;
  max-height: 80%;
  border-radius: 10px;
}

.dropdown-section {
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* margin-left: 65px; */
}

.dropdown {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%; 
}

.dropdown-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
}

.dropbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  height: 50px;
  text-align: center;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  width: 200px; 
  margin-left: 40px;
}

.dropdown:hover .dropbtn {
  background-color: #F1B434;
}

.dropdown-content {
  background-color: #f9f9f9;
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
  max-height: 100px;
  top: 100%; 
  margin-top: 0; 
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  /* border: 1px solid #002855; */
  min-height: 200px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s, color 0.2s;
}

.dropdown-content a:hover {
  background-color: #c5d3e2;
  color: #002855;
  border: 1px solid #002855;
}

.dropdown-description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #341515;
  font-size: 14px;
  width: 250px; 
  display: flex; 
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  padding: 10px;
  margin-right: 50px;
}

footer {
  background-color: #7E2D40;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: auto; 
}

@media (max-width: 768px) {
  .center-section {
    flex-direction: column; 
    height: auto;
  }

  .left, .right {
    width: 100%; 
    margin: 10px 0; 
  }
  .welcomeMessage {
    font-size: 16px; 
  }

  .dropbtn {
    width: 100%; 
  }

  .dropdown-description {
    font-size: 12px;
    width: 100%; 
  }
}

@media (max-width: 480px) {
  .welcomeMessage {
    font-size: 14px;
  }

  .dropdown-content a {
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .center-section {
    height: 80vh;
  }

  .welcomeMessage {
    font-size: 20px; 
  }
  .dropbtn {
    width: 250px;
  }
  .dropdown-description {
    font-size: 16px;
  }
}
